# ===========================================
# 🚫 Itens ignorados pelo Git/GitHub
# ===========================================

# Variáveis de ambiente
.env
*.env


# Ambientes virtuais
venv/
imoveis/

# Cache e temporários
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Arquivos do VS Code
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Backups
*.bak
*.tmp

