# ===========================================
# 🚫 Itens ignorados pelo Git/GitHub
# ===========================================

# Banco de dados local
database.db

# Arquivo de variáveis de ambiente
.env

# Cache e arquivos temporários
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
imoveis/

# Logs e backups
*.log
*.bak
*.tmp
